@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.heading-title{
    color: rgb(28, 90, 90);
    font-size: 40px;
}